[Desktop Entry]
Version=1.0
Type=Application
Name=What's Left
Comment=A post-apocalyptic text adventure game
Exec=python3 %U/launch.py
Path=%U
Icon=%U/assets/IMG_5863.png
Terminal=false
Categories=Game;
X-AppImage-Version=1.0
